/* Reset default form styles */
form {
    margin: 0;
    padding: 0;
  }


  
  /* Style form container */
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 10px 30px 0 30px;
    /* border: 1px solid black; */
  }
  
  /* Style form sections */
  .form-section {
    margin-bottom: 20px;
  }
  
  .col-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row-2 {
    display: flex;
    justify-content: flex-end;
  }
  
  /* Style labels */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Style select inputs */
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style text inputs */
  .search-bar {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .toggle {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    
}
 
/* Hide the checkbox input */
.toggle input {
    display: none;
}
 
/* Describe slider's look and position. */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    transition: .4s;
    border-radius: 34px;
}
 
/* Describe the white ball's location 
      and appearance in the slider. */
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
 

 
/* When the checkbox is checked, shift the 
      white ball towards the right within the slider. */
input:checked+.slider:before {
    transform: translateX(15px);
}
  
  /* Style buttons */
  .submit-button {
    padding: 10px 20px;
    background-color: #007bff; /* Change the color to your preference */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Style feature buttons */
  .multi-select-label {
    display: inline-block;
    padding: 8px 12px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .multi-select-label.active {
    background-color: #007bff; /* Change the color to your preference */
    color: #fff;
  }
  
  /* Style heading and paragraph elements */
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  /* Additional styles */
  .whatToSearch, .regionChoice, .search-type {
    display: flex;
    align-items: center;
  }
  
  .whatToSearch select, .regionChoice select {
    margin-left: 10px;
  }
  
  .search-type-choice {
    padding: 10px;
    margin-bottom: 6px;
    font-weight: bold;
  }

  .search-type-choice.price {
    padding-left: 0;
    font-weight: bold;
  }

  