.search-container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    /* border: 1px solid black; */
}

.search-type {
    grid-row: 1;
    grid-column: span(1,2);
    display: flex;
    width: 25%;
    margin: 20px auto;
    justify-content:space-around;
    align-items: center;
    padding-top: 20px;
    border: 2px solid rgb(187, 184, 184);
    border-radius: 25px;
    padding: 15px;
}

form {
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid black; */
    font-size: large;
}

.search-bar:focus {
    outline: none;
}
.col-1 {
    box-sizing: border-box;
    grid-column: 1;
    padding-left: 10px;
    /* border: 1px solid black; */
}
.col-2 {
    grid-column: 2;
    /* border: 1px solid black; */
}

.submit-button {
   
    font-size: x-large;
    height: 1.5em;
    width: 5em;
    
}

.row-2 {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: 10px auto;
    /* border: 1px solid rgb(196, 77, 77); */
}

.multi-select {
    box-sizing: border-box;
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
}
.multi-select-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    height: 2em;
    padding: 0.5px 0.2em;
    width: 200px;
    background-color: rgba(104, 178, 248, 0.777);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(151, 151, 151);
}

.multi-select-label.active {
    background-color: rgba(11, 206, 11, 0.779);
}

.multi-select-label:hover {
    background-color: rgba(221, 233, 245, 0.98);

}

.multi-select-label:active {
    background-color: rgba(147, 148, 150, 0.532);

}

.label-text {
    margin: 0 auto;
}

.form-section {
    padding: 10px;
}

label {
    margin-right: 0.5em;
}
input {
    margin-right: 0.3em;
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: rgba(114, 171, 236, 0.587);
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #f7fbfffb;
  background-color: #102770;
  font-family: 'unicons';
  content: '\2190';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-180deg);
}


select, input {
    height: 1.5em;
    font-size: large;
}